$color-primary: #FF5722;
$color-dark-primary: #E64A19;
$color-light-primary: #FFCCBC;
$color-accent: #607D8B;
$color-dark-accent: darken($color-accent, 50%);
$color-divider: lighten(#BDBDBD, 20%);

$font-raleway: 'Raleway', sans-serif;
$font-lora: 'Lora', serif;
$font-opensans: 'Open Sans', sans-serif;

$text-primary: #212121;
$text-secondary: #757575;
$text-icon: #FFFFFF;