$color-primary: #9C27B0;
$color-dark-primary: #7B1FA2;
$color-light-primary: #E1BEE7;
$color-accent: #FF9800;
$color-divider: #BDBDBD;

$text-primary: #212121;
$text-secondary: #757575;
$text-icon: #FFFFFF;