@import 'variables';

/*-----------
Elements
-------------*/
body {
  font-family: $font-lora;
  font-size: 14px;
}

/*-------------
Header
---------------*/
.header {
  font-family: $font-raleway;
  background: #FFFFFF;
  border-bottom: 1px solid #E1E1E1;
  &-brand {
    text-decoration: none;
    color: $color-primary;
    font-size: 1.5rem;
    height: 35px;
    border-bottom: none;
    &__img {
      height: 100%;
    }
  }
  &__menu-list {
    color: $color-accent;
    font-size: 0.9rem;
    border-bottom: none;
    &:hover {
      color: $color-dark-accent;
    }
  }
}

/*-------------
Content
---------------*/
.post {
  border-bottom: 2px solid $color-divider;
  &-image {
    border-bottom: none;
    border-radius: 5px;
    overflow: hidden;
    &:hover {
      border-bottom: none;
    }
  }
  &-detail {
    &__category {
      font-size: 0.8rem;
    }
  }
  &__p {
    color: $text-secondary;
    line-height: 1.5em;
    font-size: 1.2em;
  }
}

/*--------------
Footer
---------------*/
.footer {
  font-family: $font-raleway;
}